# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Entornos virtuales
venv/
env/
.venv/
.env/

# Archivos de configuración de usuario
*.swp
*.swo
*.bak

# Archivos de VSCode
.vscode/

# Archivos de sistema
.DS_Store
Thumbs.db
